h1 {
  display: inline-block;
  font-family: arial;
  text-align: center;
  margin-left: 550px;

}

.table {
    margin: auto;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
  }
/*body {background-color: coral;}*/
body {
  background-image: url('/Users/felixheras/ironhack/tic-tac-toe/Tic-tac-toe/img/images.jpg');
}
td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.tr {
border: 1px solid black;
text-align: center;
}
